.navbar {
  width: 100vw;
  height: 90px;
  display: flex;
  justify-content: center;
  background: #fff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  list-style: none;
}
.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1225px;
}
.logo {
  color: #006dab;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
}
.menubar {
  display: flex;
  align-items: center;
  gap: 75px;
  color: #373737;
  font-size: 16px;
  font-weight: 600;
  list-style: none;
}
.menubar p {
  cursor: pointer;
  text-decoration: none;
}
.navright {
  display: flex;
  align-items: center;
}
.navright img {
  display: flex;
  margin-right: 20px;
  cursor: pointer;
}
