/* Wallpaper */

.wall-wrapper {
  display: flex;
  height: 350px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../../assets/bgimg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.wall-wrapper p {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.wall-wrapper h3 {
  color: #fff;
  font-size: 27px;
  font-weight: 700;
}
.wall-wrapper h1 {
  color: #fff;
  font-size: 80px;
  font-weight: 700;
}

/* Shop-wrapper */

.shop-wrapper {
  display: flex;
  justify-content: center;
  padding: 47px 70px 0 70px;
  gap: 28px;
}

.filter-wrapper {
  display: flex;
  /* flex: 1; */
  /* border: 1px solid black; */
}
.input-wrapper {
  display: flex;
  gap: 25px;
  margin-top: 30px;
}
.input-wrapper input {
  width: 91px;
  height: 36px;
  border-radius: 10px;
  border: 1px solid rgba(55, 55, 55, 0.6);
}
.input-wrapper label {
  color: #373737;
  font-size: 14px;
  font-weight: 500;
}
.input-from-to {
  display: flex;
  flex-direction: column;
}
.filter-wrapper h3 {
  color: #373737;
  font-size: 18px;
  font-weight: 600;
}
.filter-line {
  display: flex;
  margin: 15px 0 30px 0;
  border: 1px solid rgba(55, 55, 55, 0.3);
  width: 240px;
}
.filter-drop-wrapper {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.checkbox-wrapper {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.checkbox-wrapper input {
  width: 22px;
  height: 22px;
  border-radius: 5px;
  border: 1px solid #666;
  background: #fff;
}
.button-wrapper {
  margin: 50px 0;
  display: flex;
  gap: 8px;
}
.button-wrapper button {
  width: 115.804px;
  height: 38.968px;
  border-radius: 60px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border: none;
}
.compare {
  display: flex;
  flex-direction: column;
}
.comper-car-wrapper {
  display: flex;
  gap: 8px;
}
.compare p {
  margin-top: 5px;
  color: #006dab;
  font-size: 14px;
  font-weight: 600;
}
.comper-car-wrapper img {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  width: 76px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 4px;
}

.shop {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item-wrapper {
  width: 956px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-wrapper p {
  display: flex;
  margin-left: 5px;
  color: #373737;
  font-size: 18px;
  font-weight: 600;
}
.item-wrapper span {
  margin-left: 10px;
  color: #006dab;
}
.shop-filter {
  display: flex;
  align-items: center;
  gap: 15px;
}
.select-wrapper {
  display: flex;
  align-items: center;
}
.select-wrapper p {
  color: #373737;
  font-size: 16px;
  font-weight: 500;
  margin-right: 10px;
}
.select-wrapper input {
  display: flex;
  padding-left: 10px;
  width: 227px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgba(55, 55, 55, 0.3);
}
.drop {
  border-radius: 0px 5px 5px 0px;
  border: 1px solid rgba(55, 55, 55, 0.3);
  padding: 8.5px;
  margin-left: -32px;
}
.wrapper-60 {
  display: flex;
  align-items: center;
}
.wrapper-60 input {
  width: 80px;
  height: 30px;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid rgba(55, 55, 55, 0.3);
}
.grid-list {
  display: flex;
  align-items: center;
  width: 81px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgba(55, 55, 55, 0.3);
}
.grid {
  display: flex;
  align-items: center;
  padding: 6px 10px;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid rgba(55, 55, 55, 0.3);
  background: #fff;
}
.list {
  display: flex;
  align-items: center;
  padding: 4px 9px;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid rgba(55, 55, 55, 0.3);
  background: #fff;
}
.shop-line {
  margin-top: 6px;
  width: 956px;
  height: 1px;
  border: 1px solid rgba(55, 55, 55, 0.3);
}
.grid-wrapper {
  margin-top: 37px;
  display: grid;
  grid-template-areas: "a a a a";
  gap: 20px;
}
.car-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 307px;
  width: 223px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 15px 0px 20px 0px;
}
.car-wrapper p {
  display: flex;
  font-size: 16px;
  font-weight: 600;
  color: #373737;
  margin-left: 15px;
}
.brandname {
  display: flex;
  justify-content: space-between;
}
.brandname p {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin: 5px 13px 0 15px;
  font-weight: 400;
  color: #373737;
  gap: 3px;
}
.star-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.star-wrapper p {
  color: #373737;
  font-size: 12px;
  font-weight: 400;
}
.car-wrapper h2 {
  color: #006dab;
  font-weight: 700;
  font-size: 22px;
  margin: 18px 0 0 15px;
}
.shop-btn {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.shop-btn button {
  margin-top: 13px;
  width: 94px;
  height: 35px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #006dab;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  color: #006dab;
  font-size: 14px;
  font-weight: 700;
}
.listcar {
  display: grid;
  grid-template-areas: "a";
  gap: 20px;
}
.listcar-wrappar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 37px;
  width: 955px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  height: 180px;
  gap: 30px;
}
.name-of-the-car {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}
.name-of-the-car h2 {
  color: #006dab;
  font-size: 22px;
  font-weight: 700;
}
.name-of-the-car h2:nth-child(1) {
  border: 1px solid red;
  color: #373737;
}
.list-brandname {
  display: flex;
  justify-content: space-between;
  margin: 5px 10px 45px 0;
}
.list-btn-wrapper {
  display: flex;
  gap: 15px;
}
.list-btn-wrapper button {
  width: 291.325px;
  border: 1px solid #006dab;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  height: 35px;
  color: #006dab;
  font-size: 14px;
  font-weight: 700;
  border-radius: 20px;
  background: #fff;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  width: 100%;
  height: 350px;
  background: #006dab;
}
.footer-title-wrapper {
  display: flex;
  justify-content: space-between;
  padding-right: 120px;
  width: 1225px;
}
.footer-logo p {
  margin-top: 50px;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
}
.services-wrapper {
  display: flex;
  margin-top: 64px;
  flex-direction: column;
  color: #fff;
}
.services-wrapper h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
}

.services-wrapper p {
  display: flex;
  margin-top: 9px;
  font-size: 14px;
  font-weight: 500;
}
.services-wrapper div {
  display: flex;
  align-items: center;
  gap: 12px;
}

.location-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  width: 1226px;
  gap: 30px;
}
.location-con-wrappar {
  display: flex;
  gap: 20.5px;
}
.box-wrappr {
  display: flex;
  flex-direction: column;
  /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1); */
  border-radius: 10px;
  padding: 5px;
  width: 395px;
  gap: 20px;
}
.box-wrappr img {
  border-radius: 10px;
}
